[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "example/lib/forge-std"]
	path = example/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "example/lib/UDS"]
	path = example/lib/UDS
	url = https://github.com/0xPhaze/UDS
[submodule "example/lib/upgrade-scripts"]
	path = example/lib/upgrade-scripts
	url = https://github.com/0xPhaze/upgrade-scripts
